body {
  background-color: rgb(145, 252, 252);
}
img {
  max-width: 286px;
  max-height: 190.656px;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
}
.card {
  margin: 5px;
  background-color: (137, 43, 226, 0.475);
}
.buttoncontainer {
  text-align: center;
  margin: 20px;
}

#pets-div {
  justify-content: center;
  text-align: center;
}
#createBtnContainer {
  text-align: center;
  margin: 20px;
}
#typeOfPet {
  margin: 5px;
}
